
# URL for Prefect cluster
PREFECT_API_URL = "http://localhost:4200/api"

# Prefect cluster DB
PREFECT_DB_USER=...
PREFECT_DB_PASSWORD=...
PREFECT_DB_NAME=prefect
PREFECT_UI_PORT=4200

# Postgres (RAG DB)
POSTGRES_USER=rag
POSTGRES_PASSWORD=...
POSTGRES_DB=...
POSTGRES_PORT=...
